body {
    padding: 0;
    margin: 0;
    background-color: #d1d5da;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.header {
    background: linear-gradient(#2e4e86, #1a356b);
    border-bottom: 1px solid #abd229;
}
.container-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1002px;
    margin: auto;
    flex-wrap: wrap;
}

.right-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.top-header, .bottom-header {
    height: 37px;
    width: 834px;
}

.bottom-header .menu li {
    color: white;
    font-size: 14px;
    cursor: pointer;
    list-style: none;
}

.menu>li:hover {
    color: #7597CC;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-around;

}

.logo-header {
    height: 50px;
    width: 135px;
    display: inline-block;
}

.logo-header img {
    width: 135px;
}

.master {
    background: #f4f4f4;
    height: 2000px;
    width: 1002px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.top-header .social-logo li {
    display: inline;
    margin-right: 8px;
}

.social-logo i{
    color: #7597CC;
}

.social-logo i:hover {
    color: #fff;
}

#envoyer {
    color: #7597CC;
    border: none;
    background: none;
    margin-left: 577px;
    margin-top: 15px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgba(38, 38, 53, 0.9);
    z-index: 100;
    border-top: solid 1px #abd229;
    padding: 0 8px 0 18px;
    top: 24px;
}

.submenu li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.submenu ul li {
    display: inherit;
}

.menu > li:hover .submenu {
    display: block;
}


input {
    background: none;
    border: none;
    border-bottom: solid 1px #7597cc;
    float: left;
    line-height: 18px;
    height: 21px;
    padding: 0 0 3px;
    width: 95px;
    position: absolute;
    left: 800px;
    top: 15px;
}

.social-logo {
    position: absolute;
    left: 630px;
}

.head-master {
    color: #616f7d;
}
.head-master span a {
    text-decoration: none;
    color: #a8aeb4;
}

article {
    background: #ffffff;
    border: solid 1px #e4e8ea;
    padding: 18px;
    width: 604px;
    display: inline-block;
}

#photofekir {
    margin-left: -40px;
    width: 604px;
}

aside {
    margin-left: 12px;
    width: 306px;
    height: 390px;
    background: #ffffff;
    border: solid 1px #e4e8ea;
    margin-top: 12px;;
}

section {
    width: 642px;
}

h1 {
    color: #135189;
    font-weight: 900;
    padding-bottom: 9px;
    margin-bottom: 10px;
    border-bottom: solid 1px #135189;
    font-size: 26px;
}

article div p {
    color: #a8aeb4;
    font-weight: 700;
    font-size: 13px;
}

h2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}

figcaption {
    position: relative;
    top: -46px;
    left: -40px;
    width: 604px;
    background: rgba(0, 0, 0, 0.5);
    padding: 12px 0;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

article p {
    margin-top: 15px;
    word-spacing: 3px;
    text-align: justify;
}

h3 {
    margin-top: 25px;
    font-weight: 900;
    color: #135189;
}

.flash-container {
    width: 306px;
    height: 390px;
    border-left: solid 1px #e4e8ea;
    border-right: solid 1px #e4e8ea;
}

.flash {
    list-style-type: none;
    white-space: nowrap;
    font-weight: 700;
    font-size: 11px;
    margin-left: -40px;
    line-height: 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}

.flash span:nth-last-child(1):hover {
    color: #abd229;
}

.flash-container p {
    background: #135189 url(http://www.footmercato.net/squelettes/img/fond-s423378b75c.png) no-repeat;
    height: 31px;
    width: 291px;
    color: white;
    padding-left: 15px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    line-height: 1.7;
    font-weight: 700;
}

.flash-bottom {
    line-height: 32px;
    border: #e4e8ea 1px solid;
    border-top: #a8aeb4 2px dotted;
    background: #fff;
    padding: 0 10px;
}

.flash-bottom ul {
    list-style: none;
    float: right;
}

.flash-bottom ul li {
    float: left;
    width: 16px;
    font-size: 11px;
    margin-top: -20px;
}

.date {
    width: 51px;
    text-align: center;
    color: #a8aeb4;
    display: inline-block
}

.flash-grey {
    background: #f4f4f4;
    width: 100%;
}

.flash-white {
    background: #fff;
    width: 100%;
}

.footer-container {
    width: 1002px;
    height: 550px;
    margin: auto;
    background: linear-gradient(#2e4e86, #1a356b);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container li {
    color: #7597cc;
}

.footer-container li:hover {
    color: #fff;
}

.footer-container p {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-logo {
    width: 306px;
}

.footer-logo img {
    width: 164px;
    margin: 15px 0 0 49px;
    display: block;
}

.footer-logo i {
    margin-left: 15px;
    color: #7597cc;
}

.footer-logo i:hover {
    color: #fff;
}

.footer-player {
    width: 306px;
    font-size: 14px;
    margin-left: 15px;
}

#footer-player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-player li {
    list-style: none;
    margin-left: -40px;
}

.footer-article {
    width: 306px;
    font-size: 14px;
}

#footer-article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer-article li {
    list-style: none;
    margin-left: -40px;
}

.footer-club {
    width: 306px;
    font-size: 14px;
}

#footer-club {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-club li {
    list-style: none;
    margin-left: -40px;
}

.footer-acces {
    width: 306px;
    font-size: 14px;
}

#footer-acces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-acces li {
    list-style: none;
    margin-left: -40px;
}

.footer-classement {
    width: 306px;
    font-size: 14px;
}

.footer-classement li {
    list-style: none;
    margin-left: -40px;
}

#footer-classement-first, #footer-classement-2nd, #footer-classement-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 2px #a8aeb4;
}

.video-container p {
    background: #135189 url(http://www.footmercato.net/squelettes/img/fond-s423378b75c.png) no-repeat;
    height: 31px;
    width: 291px;
    color: white;
    padding-left: 15px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    line-height: 1.7;
    font-weight: 700;
}

.video-container img {
    padding: 4px 10px;
    max-width: 109px;
}

.video-container span {
    font-size: 11px;
    color: #135189;
    font-weight: 900;
    display: inline-block;
    padding: 4px 10px;
    margin-top: 10px;
}

.video-container span:hover {
    color: #abd229;
}

.video-1 {
    background: #fff;
}

.footer-bottom {
    background: #001d38;
    text-align: center;
    color: #7597cc;
    padding: 6px 0;
    width: 1002px;
    margin: auto;
    font-size: 11px;
}